:root {
  --white-color: #fff;
  --accent-color: #ff6b02;
  --black-color: #000;
  --footer-text-color: #545454;
  --lightgray-bg-color: #f7f7f7;
  --modal-text-color: #8c8c8c;
  --red-text-color: #ff001b;
  --header-gradient-color: rgba(0, 0, 0, 0.56);

  // --white-text-color: #fff;
  // --gray-text-color: #907E82;
  // --title-text-color: #d41443;
  // --pretitle-text-color: #ffa5ba;

  // --main-bg-color: #fff5f6;
  // --hero-bg-color: #ffb8ca;
  // --mobile-menu-bg-color: #e17992;
  // --button-hover-color: #ecebeb;

  // --icecream-color: #FFB8CA;
  // --icecoffe-color: #F0D1A5;
  // --milkshakes-color: #C2E297;

  // --customer-bg-color: #fafafa;
  // --customer-border-color: #e1e1e1;
  // --customer-icon-color : #D41342;
  // --location-button-color: #D41342;
  // --soc-list-color: #FEA5BB;

  --time-function: cubic-bezier(0.4, 0, 0.2, 1);
  --transition-duration: 250ms;

  --main-font: 'Roboto', sans-serif;
  // --title-font: 'Titan One', sans-serif;
}
