<header class="header">
  <div class="container header-container">
    <div class="navigation">
      <a href="./" class="header-logo">
        <svg class="header-logo__icon" aria-label="icon" width="24" height="24">
          <use href="/src/images/svg/sprite.svg#icon-film"></use>
        </svg>
        <span class="header-logo__text">Filmoteka</span>
      </a>
      <ul class="nav-list">
        <li class="nav-list__item">
          <a href="" class="nav-list__link">Home</a>
        </li>
        <li class="nav-list__item">
          <a href="" class="nav-list__link">my library</a>
        </li>
      </ul>
    </div>
    <form action="" class="search-form">
      <input type="text" name="search-film" class="search-form__input" />
      <button type="button" class="search-form__button">d</button>
      <p class="error-text">
        Search result not successful. Enter the correct movie name and try again
      </p>
      <select name="" id=""></select>
    </form>
  </div>
</header>
