.header {
    // background-color: var(--hero-bg-color);
    position: absolute;
    z-index: 5;
    width: 100%;

}

.header-container {
    display: flex;
    align-items: center;
    padding-top: 8px;
    
    @media screen and (min-width: 768px) {
        padding-top: 32px;
        }
    
    @media screen and (min-width: 1200px) {
        padding-top: 37px;
        } 
        
}

.header-button {
    display: none;
    width: 159px;
    height: 44px;
    background: var(--white-color);
    border-radius: 22px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.31;
    margin-left: auto;
    
    border: none;
    color: var(--title-text-color);

    transition: transform 250ms var(--time-function),
    color 250ms var(--time-function),
    background-color 250ms var(--time-function);

    @media screen and (min-width: 768px) {
        display: inline-block;
        } 


    &:hover,
    &:focus {
        background-color: var(--button-hover-color);
        border: transparent;
        transform: scale(1.01);
    }

    &__icon {
        margin-left: 12px;
    }
}